.todo__single--form{
    display: flex;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  }

  .todo__task--text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
  }

  .icons__container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .icon{
      margin-left:1em;
      font-size: 1.4rem;
      cursor:pointer;
  }
  
  @media(min-width: 768px){
    .todo__single--form{
        width: 40%;
  }
}
@media(min-width: 1024px){
    .todo__single--form{
        width: 30%;
  }
}